#outer-box{
    background-color: crimson;
    height: 250px;
    width: 400px;
}

.inner-box{
    background-color: darkblue;
    height: 140px;
    position: relative;
    top: -15px
}

.white-circle{
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    left: 150px;
    top: 20px;
}

.box #flag{
    color: white;
    font-size: 30px;
}

.white-circle p{
    font-size: 35px;
}